* {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Blinker',
  sans-serif;
}

.title {
  background-color: #9c27b0;
  color: whitesmoke;
  margin: auto;
  margin-top: 50px;
  width: 320px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 1px 1px 10px black;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

hr {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 120px;
}

.buttons {
  margin-top: 120px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.button {
  height: 120px;
  width: 120px;
  padding: 10px;
  border-radius: 10%;
  background-color: #9c27b0;
  color: whitesmoke;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.button:hover {
  box-shadow: 1px 1px 10px black;
}

.result-tab {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.score-tab{
  text-align: center;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.green-glow{
  background-color: #00c853;
  box-shadow: 1px 1px 10px #00c853;
  transition: 0.2s;
}

.red-glow{
  background-color: #d50000;
  box-shadow: 1px 1px 10px #d50000;
  transition: 0.2s;
}

.blue-glow{
  background-color: #2962ff;
  box-shadow: 1px 1px 10px #2962ff;
  transition: 0.2s;
}

.message{
  margin-top: 50px;
}

.button-tab{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-again{
  width: 200px;
  height: 80px;
  padding: 10px;
  border-radius: 5%;
  background-color: #aeea00;
  display: none;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.play-again:hover{
  box-shadow: 1px 1px 10px #aeea00;
}

.unclickable{
  pointer-events: none;
}